.env# Metabase + binaries
lundahoj/metabase.jar
lundahoj/plugins/
*.jar
*.zip
*.tar
*.tar.gz
*.bin
*.jar
*.db
*.db.*
lundahoj/plugins/
lundahoj/logs/
lundahoj/target/
metabase.jar
metabase.db.*
logs/dbt.log
.env